.searchform {
    background: url(../../images/main-background.jpg);
    background-size: cover;
    background-position: center;
    padding: 160px 0 80px 0;
}

.searchform__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchform__title {
    font-family: 'Roboto Slab', 'Arial', sans-serif;
    color: white;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    max-width: 608px;
    margin: 0 0 32px 0;
    text-align: left;
}

.searchform__subtitle {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    max-width: 608px;
    text-align: left;
    margin: 0 0 64px 0;
    color: white;
}

.searchform__field {
    display: flex;
    align-items: center;
}

.searchform__input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    width: 440px;
    border: none;
    outline: none;
    padding: 0;
    padding-right: 168px;
    height: 64px;
    border-radius: 100px;
    text-indent: 24px;
    color: #1A1B22;
    
}

.searchform__input:focus {
    box-shadow: 0px 0px 5px rgba(30, 93, 250, 0.8);
}


.searchform__input::placeholder {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: normal;
    color: #B6BCBF;
    font-size: 16px;
    line-height: 22px;
}

.searchform__search-btn {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    width: 168px;
    margin-left: -168px;
    border: none;
    border-radius: 100px;
    height: 64px;
    padding: 0;
    background: #2F71E5;
    color: white;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.searchform__search-btn:hover {
    background-color: #347EFF;
}

.searchform__search-btn:active {
    background-color: #2A65CC;
}

@media screen and (max-width: 1024px) {
    .searchform {
        padding: 104px 0 48px 0;
    }

    .searchform__container {
        max-width: 448px;
        margin: 0 auto;
        align-items: flex-start;
    }

    .searchform__title {
        font-size: 36px;
        line-height: 40px;
        max-width: 385px;
        margin-bottom: 16px;
        padding-right: 160px;
    }

    .searchform__subtitle {
        max-width: 452px;
    }

    .searchform__input {
        width: calc(448px - 160px);
        height: 56px;
    }

    .searchform__subtitle {
        margin-bottom: 48px;
    }

    .searchform__search-btn {
        width: 160px;
        height: 56px;
        margin-left: -160px;
    }
}

@media screen and (max-width: 767px) {
    .searchform {
        width: auto;
        padding: 86px 16px 32px 16px;
    }

    .searchform__title {
        font-size: 36px;
        line-height: 40px;
        padding: 0;
    }

    .searchform__subtitle {
        margin-bottom: 122px;
    }

    .search-form {
        width: 100%;
    }

    .searchform__field {
        width: 100%;
        flex-direction: column;
    }

    .searchform__input {
        width: 100%;
        margin-bottom: 16px;
        padding: 0;
    }

    .searchform__search-btn {
        width: 100%;
        margin: 0;
        box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    }
}